.link-on-blue {
  color: #b0b0b0 !important;
  border-bottom: 2px solid #c3c3c3 !important;
}

.bg-lightskyblue {
  background-color: #87CEFA !important;
}

.bg-deepskyblue {
  background-color: #00BFFF !important;
}

.bg-dodgerblue {
  background-color: #1E90FF !important;
}

.bg-cornflowerblue {
  background-color: #6495ED !important;
}

.bg-royalblue {
  background-color: #3169E1 !important;
}

.bg-darkblue {
  background-color: #00008B !important;
}

.bg-lightgray {
  background-color: #D3D3D3 !important;
}

.bg-silver {
  background-color: #C0C0C0 !important;
}

.bg-gray {
  background-color: #808080 !important;
}

.bg-darkgray {
  background-color: #A9A9A9 !important;
}

.bg-lightslategray {
  background-color: #778899 !important;
}

.bg-slategray {
  background-color: #708090 !important;
}

.bg-darkslategray {
  background-color: #2F4F4F !important;
}

.bg-gray1 {
  background-color: #e6e6e6 !important;
}

.bg-limegreen {
  background-color: #32CD32 !important;
}

.bg-palegreen {
  background-color: #98FB98 !important;
}

.bg-lightgreen {
  background-color: #90EE90 !important;
}

.bg-springgreen {
  background-color: #00FF7F !important;
}

.bg-mediumseagreen {
  background-color: #3CB371 !important;
}

.bg-seagreen {
  background-color: #2E8B57 !important;
}

.bg-forestgreen {
  background-color: #228B22 !important;
}

.bg-darkgreen {
  background-color: #006400 !important;
}

.bg-darkseagreen {
  background-color: #8FBC8B !important;
}

.bg-lightseagreen {
  background-color: #20B2AA !important;
}

.bg-teal {
  background-color: #008080 !important;
}

.bg-yellowgreen {
  background-color: #9ACD32 !important;
}

.bg-green1 {
  background-color: #2e9614 !important;
}

.bg-green2 {
  background-color: #a3d066 !important;
}

.bg-green3 {
  background-color: #28a745 !important;
}

.bg-navbar {
  background-color: #053a6f !important;
}

.bg-search-button {
  background-color: #0d60b3 !important;
}

.bg-search-button:hover {
  background-color: #073767 !important;
}

.text-lightskyblue {
  color: #87CEFA !important;
}

.text-deepskyblue {
  color: #00BFFF !important;
}

.text-dodgerblue {
  color: #1E90FF !important;
}

.text-cornflowerblue {
  color: #6495ED !important;
}

.text-royalblue {
  color: #3169E1 !important;
}

.text-darkblue {
  color: #00008B !important;
}

.text-optionalgray {
  color: #cfcfcf !important;
}

.text-lightgray {
  color: #D3D3D3 !important;
}

.text-silver {
  color: #C0C0C0 !important;
}

.text-gray {
  color: #808080 !important;
}

.text-gray1 {
  color:#7b7b7b !important;
}

.text-darkgray {
  color: #A9A9A9 !important;
}

.text-lightslategray {
  color: #778899 !important;
}

.text-slategray {
  color: #708090 !important;
}

.text-darkslategray {
  color: #2F4F4F !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-whitesmoke {
  color: #F5F5F5 !important;
}

.text-ghostwhite {
  color: #F8F8FF !important;
}

.text-black {
  color: #000000 !important;
}

.text-red1 {
  color: #ce5656 !important;
}
